<h1>Bejelentkezés</h1>
<%= form_with url: login_users_path do |form| %>
    <div class="field">
        <%= form.label "Email" %>
        <%= form.text_field :email %>
    </div>

    <div class="field">
        <%= form.label "Jelszó" %>
        <%= form.password_field :password %>
    </div>

    <div class="actions">
        <%= form.submit "Bejelentkezés" %>
    </div>
<% end %>

<h1>Regisztráció</h1>
<%= render 'form', user: @user %>