<h1>Restaurants</h1>
<div>
    <% @restaurants.each do |restaurant| %>
        <%= link_to home_path(restaurant), class: "restaurant-list-item"  do %>
            <h3><%= restaurant.name %></h3>
            <p style='float: right'><%= restaurant.user.name %></p>
            <p><%= restaurant.address %></p>
            <p><%= restaurant.description %></p>
        <% end %>
    <% end %>
</div>