<h1><%= @restaurant.name %></h1>

<p>Restaurant address: <%= @restaurant.address %></p>
<p>Owner: <%= @restaurant.user.name %>, <%= @restaurant.user.email %></p>

<h3>Description</h3>
<p><%= @restaurant.description %></p>

<h3>Menu</h3>
<div>
    <% @restaurant.food.each do |food| %>
        <a class="food-list-item">
            <p style="float: right"><%= food.price %> Euro</p>
            <h4><%= food.name %></h4>
            <p><%= food.description %></p>
        </a>
    <% end %>
</div>