<%= form_with model: food do |form| %>
    <div>
        <%= form.label "Étterem" %>
        <%= select_tag(:restaurant_id, '') %>
    </div>

    <div>
        <%= form.label "Név" %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label "Ár" %>
        <%= form.number_field :price %>
    </div>

    <div>
        <%= form.label "Leírás" %>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.submit "Mentés" %>
    </div>
<% end %>