<%= form_with model: food do |form| %>
    <div>
        <%= form.label "Restaurant" %>
        <%= select_tag(:restaurant_id, '') %>
    </div>

    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :price %>
        <%= form.number_field :price %>
    </div>

    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>