<%= form_with model: restaurant do |form| %>
    <div>
        <%= form.label "Név" %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label "Cím" %>
        <%= form.text_field :address %>
    </div>

    <div>
        <%= form.label "Leírás" %>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.submit "Mentés" %>
    </div>
<% end %>