<%= form_with model: restaurant do |form| %>
    <% if restaurant.errors.any? %>
        <div class="error-message">
            <h2><%= pluralize(restaurant.errors.count, "error") %> occured:</h2>

            <ul>
                <% restaurant.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= form.hidden_field :user_id, value: @user.id %>

    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :address %>
        <%= form.text_field :address %>
    </div>

    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>