<div class="navbar">
    <div><%= link_to_unless_current("Home", root_path) %></div>
    <div><%= link_to_unless_current("My restaurants", restaurants_path) %></div>
    <div><%= link_to_unless_current("Foods", foods_path) %></div>
    <div><%= link_to_unless_current("Profile", edit_user_path(@user)) %></div>
    <div><%= link_to "Logout", logout_users_path %></div>
</div>