<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <div class="page-container">
      <% if logged_in %>
        <%= render "layouts/user_navbar" %>
      <% else %>
        <%= render "layouts/guest_navbar" %>
      <% end %>
      <div class="content-wrap">
        <%= yield %>
      </div>

      <div class="footer">
        <h3>Étteremkezelő webalkalmazás, Készítette: Stedra Kristóf</h3>
      </div>
    </div>
  </body>
</html>
